.inputsForm {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 10px;
  width: 70rem;
}

.inputsForm input,
.inputsForm button {
  width: 100%;
}
