.inputsForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 10px;
  width: 40rem;
}

@media (max-width: 600px) {
  .inputsForm {
    width: 50%;
  }
}

@media (max-width: 601px) and (min-width: 900px) {
  .inputsForm {
    width: 75%;
  }
}

@media (max-width: 901px) {
  .inputsForm {
    width: 100%;
  }
}

.inputsForm input,
.inputsForm button {
  width: auto;
}
